$header-height: 50px;
$warning-height: 25px;
$page-home-width: 720px;
$page-service-width: 480px;
$dialog-info-max-width: 720px;
$dialog-text-editor-max-width: 720px;
$dialog-admin-data-width: 480px;
