$homepage-width: 720px;
$info-dialog-max-width: 720px;
$teacher-page-content-width: 360px;
$header-height: 50px;
$archive-warning-height: 25px;
$table-filter-select-min-width: 120px;
$table-filter-search-input-width: 120px;
$request-cards-width: 120px;
$request-form-teacher-select-width: 180px;
$request-form-numeric-inputs-width: 50px;
$modification-form-type-select-width: 195px;
$modification-form-hours-input-width: 75px;
$login-dialog-width: 540px;
